# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

*.Zone.Identifier
*:Zone.Identifier*